Tetris-Algorithm/*.obj
Tetris-Algorithm/*.exe
Tetris-Algorithm/x64/
Tetris-Algorithm/x86/
Tetris-Algorithm/*.dll
Tetris-Algorithm/.vs
Tetris-Algorithm/.sln
Tetris-Algorithm/*.vcxproj
Tetris-Algorithm/*.vcxproj.filters
Tetris-Algorithm/*.vcxproj.user
Tetris-Algorithm/Build
Tetris-Algorithm/Build-Int
Tetris-Algorithm/Integrian2D/Build
Tetris-Algorithm/Integrian2D/Build-Int